body.dark-mode {
	background-color: #401521;
	color: #AAFF32;
}

#newsbar.dark-mode{
	background-color: #26091A;
}

#articles.dark-mode {
	background-color: #321008;
}

section a.dark-mode {
	color: #06C2AC;
}

section a.dark-mode:hover {
	opacity: 1;
	color: #26091A;
	background-color: #06C2AC;
}