body.dark-mode {
  background-color: #33111a;
  color: #aaff32;
}

#newsbar.dark-mode {
  background-color: #25003e;
  color: #aaff32;
}

#articles.dark-mode {
  background-color: #26091a;
  color: #aaff32;
}

#datetime.dark-mode {
  background-color: #25003e;
}

section a.dark-mode {
  color: #06c2ac;
}

section a.dark-mode:hover {
  opacity: 1;
  color: #26091a;
  background-color: #06c2ac;
}

.line.dark-mode {
  background: url("https://hsbasu.github.io/styles/icons/navigation/vline-dark.png") repeat-y;
  opacity: 0.5;
}

.line.dark-mode {
  background: url("https://hsbasu.github.io/styles/icons/navigation/line-dark.png") repeat-x;
  opacity: 0.5;
}

a.dark-mode:hover {
  opacity: 0.8;
  background-color: unset;
}

a.badges.dark-mode:hover {
  opacity: 0.8;
  background-color: unset;
}

a.buttn.dark-mode {
  color: #aaff32;
  border: 1px solid #ebe910;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 20px;
  background-image: linear-gradient(#b37417, #b33117);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.2), 1px 5px 5px rgba(255,255,255,0.8);
}

a.buttn.dark-mode:hover {
  color: #26091a;
  border: 1px solid #b3b10c;
  background-image: linear-gradient(#ffa521, #ff4621);
  box-shadow: inset 0px 1px 1px rgba(255,255,255,0.2), 0px 1px 0px transparent;
}

#theme.dark-mode {
  background-color: #007bff;
  color: #fdf6e3;
  cursor: pointer;
  border-radius: 99999px;
  border: none;
}

#theme.dark-mode:hover {
  opacity: 0.7;
}

.markdown-body.dark-mode {
  color: #aaff32;
}

.markdown-body.dark-mode pre {
  background-color: #221b0e;
  color: #f5f5dc;
}

.markdown-body.dark-mode code {
  background-color: #221b0e;
  color: #f5f5dc;
}

.markdown-body.dark-mode pre code {
  background-color: #221b0e;
  color: #f5f5dc;
}
