body.dark-mode {
	background-color: #33111A;
	color: #aaff32;
}

#newsbar.dark-mode{
	background-color: #25003E;
}

#articles.dark-mode {
	background-color: #26091a;
}

#datetime.dark-mode {
	background-color: #25003E;
}

section a.dark-mode {
	color: #06c2ac;
}

section a.dark-mode:hover {
	opacity: 1;
	color: #26091a;
	background-color: #06c2ac;
}

.line.dark-mode{
	background: url("https://hsbasu.github.io/styles/icons/navigation/line-dark.png") repeat-x;
	opacity: 0.5;
}

.line.dark-mode{
	background: url("https://hsbasu.github.io/styles/icons/navigation/vline-dark.png") repeat-y;
	opacity: 0.5;
}

a.badges.dark-mode:hover {
	opacity: 0.8;
	background-color: unset;
}

a.buttn.dark-mode{
    color: #aaff32;
    border: 1px solid #EBE910;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 20px;
    background-image: linear-gradient(#B37417, #B33117);
    box-shadow:  inset 0px 1px 1px rgba(0,0,0,0.2), 1px 5px 5px rgba(255,255,255,0.8);
}

a.buttn.dark-mode:hover {
    color: #26091a;
    border: 1px solid #B3B10C;
    background-image: linear-gradient(#FFA521, #FF4621);
    box-shadow: inset 0px 1px 1px rgba(255,255,255,0.2), 0px 1px 0px transparent;
}
.darkbtn.dark-mode{
	background-color: #fdf6e3;
	color: #007bff;
	color: inherit;
	cursor: pointer;
	font-size: 20px;
	border: none;
	padding: 2px;
	border-radius: 5px;
}
.darkbtn.dark-mode:hover{
	background-color: #e6dfce;
}
