html { font-family: 'Open Sans', sans-serif; font-size: 100%; }
*{ box-sizing: border-box; }
body { background-color: #06c2ac; margin: 5px; text-align: justify; padding: 10px; }

/* Style the header */
header { padding: 0.5%; }

/* Style the navigation bar */
nav { background-color: #7fff00; padding: 5px; width: 100%; border-radius: 10px; }

/* Style the footer */
footer { background-color: #666666; color: #7fff00; padding: 5px; margin: 5px; text-align: center; border-radius: 10px; display: inline-block; }

section { margin: 10px auto; }
section:after { content: ""; display: table; clear: both; }

/* Create two columns/boxes that floats next to each other */
#newsbar { background-color: #2c001e; color: #7fff00; width: 25%; margin: 2px; padding: 10px; float: left; border-radius: 10px; }
#articles { background-color: #f1f1f1; width: 74%; margin: 0 auto; padding: 10px; float: left; border-radius: 10px; }

.w3-left { float: left; text-align: left; }
.w3-right { float: right; text-align: right; }
.w3-center { margin: 0 auto; width: 100%; text-align: center; }

header .bar { margin: 0 auto; text-align: center; float: none; overflow: visible; margin: 10px; }
header h4#datetime { background-color: #fdf6e3; text-align: center; margin: 5px; padding: 2px; border-radius: 5px; }

footer .w3-center { margin: 0px; min-width: 50%; }

/* .bar { overflow: auto; } */
a:hover.bar { background-color: unset; }

/* Style the list inside the menu */
/* aside ul { list-style-type: none; padding: 5px; } */

/* all links */
a { padding: 2px; text-align: center; text-decoration: none; display: inline-block; }
a:hover { opacity: 0.8; background-color: #06c2ac; border-radius: 8px; padding: 2px; }

/* all text, image and lists */
p, li { line-height: 150%; }
li, ol, ul { margin-left: 1.5%; }
img { display: block; margin: 5px; max-width: 90%; }

/* social services at footer */
img.services { margin: 0px; }
a.services { opacity: 0.5; padding: 0px; }
a:hover.services { opacity: 1; background-color: unset; padding: 5px; }
p.services { line-height: 0px; padding: 2px; margin: 2px; text-align: center; }
p.crights { margin: 2px; text-align: center; }

/* Code snippets */
pre code { background-color: #fdf6e3; color: black; padding: 5px; border-radius: 5px; line-height: 200%; display: block; max-width: 80%; max-height: 200px; overflow: auto; }
code { background-color: #fdf6e3; color: black; padding: 2px; border-radius: 5px; line-height: 200%; overflow: auto; }


.line {
  background: transparent url(styles/icons/line.png) repeat-x;
  height: 2px;
  padding: 20px 0 0 0;
  line-break: 0px;
}
