html { font-family: 'Open Sans', sans-serif; font-size: 100%; }
*{ box-sizing: border-box; }
body { background-color: #06c2ac; margin: 5px; text-align: justify; padding: 10px; }

.center { margin: 5px; text-align: center; }

/* Style the header */
header { padding: 0.5%; }
.center a:hover { margin: 0px; background-color: unset; }
header #datetime { background-color: #fdf6e3; text-align: center; margin: 5px; padding: 2px; border-radius: 5px; }

/* Style the navigation bar */
nav { background-color: #7fff00; padding: 5px; width: 100%; border-radius: 10px; }

.bar { overflow: visible; }

/* Style the footer */
footer { background-color: #666666; color: #7fff00; padding: 5px; margin: 5px; text-align: center; border-radius: 10px; }

footer .w3-center { margin: 0px; min-width: 50%; }

/* Style the contents */
section { margin: 10px auto; }
section:after { content: ""; display: table; clear: both; }

/* Create two columns/boxes that floats next to each other */
#newsbar { background-color: #2c001e; color: #7fff00; width: 25%; margin: 2px; padding: 10px; float: left; border-radius: 10px; }
#articles { background-color: #f1f1f1; width: 74%; margin: 0 auto; padding: 10px; float: left; border-radius: 10px; }

/* Style floats */
.w3-left { float: left; text-align: left; }
.w3-right { float: right; text-align: right; }
.w3-center { margin: 0 auto; width: 100%; text-align: center; }

/* all links */
a { margin: 0 auto; padding: 2px; text-decoration: none; }
a:hover { opacity: 0.8; color: #000; background-color: #06c2ac; border-radius: 8px; padding: 2px; }
a.badges:hover { opacity: 1.0; background-color: unset; filter: brightness(80%); }

/* Badges */
.badges { text-align: center;}

/* all text, image and lists */
p, li { line-height: 150%; }
li, ol, ul { margin-left: 1.5%; }
/* scale=1 sends sticky navbar t0 back */
img { margin: 5px; max-width: 90%; min-height: 32px; display: inline-block; }
video { max-width: 60%; display: inline-block; }

/* social services at footer */
img.services { margin: 0px; }
a.services { opacity: 0.5; padding: 0; display: inline-block; }
a:hover.services { opacity: 1; background-color: unset; padding: 5px; }
p.services { line-height: 0px; margin: 2px; text-align: center; }
p.crights { margin: 2px; text-align: center; }

/* Code snippets */
pre code { background-color: #fdf6e3; color: #000; padding: 5px; border-radius: 5px; line-height: 200%; display: block; max-width: 100%; max-height: 300px; overflow: auto; }
code { background-color: #fdf6e3; color: #000; padding: 2px; border-radius: 5px; line-height: 200%; overflow: auto; }


.line {
  background: url("https://hsbasu.github.io/styles/icons/navigation/line.png") repeat-x;
  opacity: 0.2;
  padding: 10px 0;
}

/* Download buttons */
.buttn {
  color: #26091a;
  border: 1px solid #5d910b;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 20px;
  display: inline-block;
  background: linear-gradient(#93bd20, #659e10);
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 3px 7px rgba(0,0,0,0.7);
}
.buttn:hover {
  color: #f1f1f1;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid  #527f0e;
  background: linear-gradient(#749619, #527f0e);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.2), 0px 1px 0px transparent;
}
