html {font-family: 'Open Sans', sans-serif;}
*{box-sizing: border-box;}
body {background-color: powderblue;margin: 0 auto;text-align: justified;padding: 10px 10px 10px 10px;}

/* Style the header */
header {padding: 1vw;}

/* Style the navigation bar */
nav {color: white;background-color: #7FFF00;}

/* Create two columns/boxes that floats next to each other */
aside {background-color: #2C001E;float: left;width: 20%;padding: 2vw;color: #7FFF00;}

/* Style the footer */
footer {background-color: #666;padding: 10px;color: #7FFF00;}

.w3-left{float:left!important}.w3-right{float:right!important}.center{float:center!important}

.bar {width: 100%;overflow: auto;} /*{color: black;padding: 15px;font-size: 20px;}*/
.bar .bar-item{padding: 10px 10px; float: left; width: 20%;border: 5px; display: block;outline: 0;text-decoration: none;text-align:center;}
:hover.bar-item {background-color: #00008B;color: white;}
.stickey {position: -webkit-sticky;  position: sticky; top: 0;}

/* Style the list inside the menu */
aside ul {list-style-type: none;padding: 5px;}

article {float: right;padding: 10px;width: 80%;background-color: #f1f1f1;}

/* Clear floats after the columns */
section:after {content: "";display: table;clear: both;}

.services, .hidden {opacity: 0.5;}
a.services {display: inline-block;float: right;padding: 5px;}

.services, .hidden {opacity: 0.1;}
a.services {display: inline-block;/*min-width: 15px;*/opacity: .5;float: right;padding: 15px;}
a:hover.services {opacity: 1;}

h1 {font-size: 2.5vw;}
h2 {font-size: 2.25vw;}
h3 {font-size: 2vw;}
p, li {font-size: 1.5vw;line-height: 1.5;letter-spacing: 1px;}
img {display: block;margin: 0 auto;}
