html {font-family: 'Open Sans', sans-serif; font-size: 100%;}
*{box-sizing: border-box;}
body {background-color: powderblue; margin: 5px; text-align: justify; padding: 10px 10px 10px 10px;}

/* Style the header */
header {padding: 0.5%;}

/* Style the navigation bar */
nav {color: white; background-color: #7FFF00; padding: 5px; width: 100%;}

/* Create two columns/boxes that floats next to each other */
aside {background-color: #2C001E; color: #7FFF00; float: left; width: 20%; padding: 5px;}

/* Style the footer */
footer {background-color: #666; color: #7FFF00; padding: 5px; overflow: auto;}

.w3-left{float:left; width: auto; text-align: left;}
.w3-right{float:right; width: auto; text-align: right;}
.w3-center{margin: auto; text-align: center;}

.stickey {position: sticky; top: 0;}
.bar {overflow: auto;}
a:hover.bar{background-color: unset;}
.bar .bar-item{width: 19%; border: 5px; text-decoration: none; text-align: center;}
a:hover.bar-item {background-color: #00008B; color: white;}

/* Style the list inside the menu */
aside ul {list-style-type: none; padding: 5px;}

article {float: right; padding: 10px; width: 70%; background-color: #f1f1f1;}

/* Clear floats after the columns */
section:after {content: "";display: table;clear: both;}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
/* Style the footer */
footer {background-color: #777;padding: 10px;/*text-align: center;*/color: white;}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.services, .hidden {opacity: 0.1;}
a.services {display: inline-block;/*min-width: 15px;*/opacity: .5;float: right;padding: 15px;}
=======
<<<<<<< HEAD
.services li, a {float: right;padding: 15px;}
=======

>>>>>>> 2edd331... Updated on 28 May, 2020
.services, .hidden {opacity: 0.1;}
a.services {display: inline-block;/*min-width: 15px;*/opacity: .5;}

.services, .hidden {opacity: 0.1;}
a.services {display: inline-block;/*min-width: 15px;*/opacity: .5;float: right;padding: 15px;}
<<<<<<< HEAD
>>>>>>> Updated on 28 May, 2020
>>>>>>> 2e1aa75... Updated on 28 May, 2020
=======
=======
.services, .hidden {opacity: 0.5;}
=======
.services, .hidden {opacity: 0.5;width: 10vw;}
>>>>>>> a66f166... Updated on 28 May, 2020
=======
.services, .hidden {opacity: 0.5;}
>>>>>>> 614c452... Updated on 29 May, 2020
a.services {display: inline-block;float: right;padding: 5px;}
>>>>>>> 39d9dae... Updated on 28 May, 2020

>>>>>>> 2edd331... Updated on 28 May, 2020
=======
.services, .hidden {opacity: 0.1;}
<<<<<<< HEAD
a.services {display: inline-block;/*min-width: 15px;*/opacity: .5;float: right;padding: 15px;}
>>>>>>> 0ad9551... Updated on 08 June 2020
=======
a.services {display: inline-block;/*min-width: 15px;*/opacity: .5;float: right;padding: 5px;}
>>>>>>> df4d140... Updated on 08 June 2020
a:hover.services {opacity: 1;}
=======
a{padding: 2px; text-align: center; text-decoration: none; display: inline-block;}
a:hover{opacity: 1; background-color: yellowgreen;}

/* Footer styles */
.services, .hidden {opacity: 0.7;}
a.services {display: inline-block; padding: 5px;}
img.services{width: 70%;}
p.crights{font-size: 209%;}
>>>>>>> ebf8ea6... Revamped the website.

p, li {line-height: 1.5; letter-spacing: 1.5px;}
img {display: block; margin: 0 auto;}

.line {
	background: transparent url(images/styles/line.png) repeat-x;
	height: 2px;
	padding: 20px 0 0 0;
	line-break: 0px;
}
